In [1]:
# Importing Dependencies
import os
import pandas as pd
import numpy as np

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

In [3]:
app = Flask(__name__)

In [4]:
#import and read json file
import json

json_file = "./data/samples.json"
data_df = pd.read_json(json_file)
data_df.head()

,names,metadata,samples
0,940,"{'id': 940, 'ethnicity': 'Caucasian', 'gender'...","{'id': '940', 'otu_ids': [1167, 2859, 482, 226..."
1,941,"{'id': 941, 'ethnicity': 'Caucasian/Midleaster...","{'id': '941', 'otu_ids': [2722, 944, 2419, 253..."
2,943,"{'id': 943, 'ethnicity': 'Caucasian', 'gender'...","{'id': '943', 'otu_ids': [1795], 'sample_value..."
3,944,"{'id': 944, 'ethnicity': 'European', 'gender':...","{'id': '944', 'otu_ids': [922, 3555, 943, 1013..."
4,945,"{'id': 945, 'ethnicity': 'Caucasian', 'gender'...","{'id': '945', 'otu_ids': [944, 1795, 922, 2419..."

In [5]:
#app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/bellybutton.sqlite"
db = SQLAlchemy(app)

/Users/sapiesitupou/opt/anaconda3/lib/python3.8/site-packages/flask_sqlalchemy/__init__.py:812: UserWarning: Neither SQLALCHEMY_DATABASE_URI nor SQLALCHEMY_BINDS is set. Defaulting SQLALCHEMY_DATABASE_URI to "sqlite:///:memory:".
  warnings.warn(
/Users/sapiesitupou/opt/anaconda3/lib/python3.8/site-packages/flask_sqlalchemy/__init__.py:833: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

In [6]:
# reflect an existing database into a new model
Base = automap_base()

In [7]:
# reflect the tables
Base.prepare(db.engine, reflect=True)